## **DATA STRUCTURE**
# submitted by Akanksha Bhatt

Q 1 . discuss string slicing and provide examples.

a . String slicing in Python is a way to get specific parts of a string by using start, end, and step values. It's especially useful for text manipulation and data parsing. The result of a slicing operation is always a string (str type) that contains a subset of the characters from the original string.Here are some examples .

In [ ]:
#string
#Retrieve All Characters To retrieve the entire string

s = "Hello, World!"

# Get the entire string
s2 = s[:]
s3 = s[::]

print(s2)
print(s3)


#Explanation: Using [:] or [::] without specifying start, end, or step returns the complete string.

Hello, World!
Hello, World!

In [ ]:
##Get All Characters Before or After a Specific Position
#To get all the items from a specific position to the end of the string, we can specify the start index and leave the end blank.And to get all the items before a specific index, we can specify the end index while leaving start blank.

s = "Hello, World!"

# Characters from index 7 to the end
print(s[7:])

# Characters from the start up to index 5 (exclusive)
print(s[:5])


#Explanation: The slice s[7:] starts from index 7 and continues to the end of the string.

World!
Hello

In [ ]:
#Extract Characters Between Two Positions

#To extract characters between specific positions, provide both start and end indices.


s = "Hello, World!"
# Characters from index 1 to index 5 (excluding 5)
print(s[1:5])

ello

In [ ]:
#Get Characters at Specific Intervals

#To retrieve characters at regular intervals, use the step parameter.

s = "abcdefghi"

# Every second character

print(s[::2])

# Every third character from index 1 to 8 (exclusive)
print(s[1:8:3])

#Explanation: The slice s[::2] takes every second character from the string.

acegi
beh

In [ ]:
#Extract Characters Using Negative Indices

#Below example shows how to use negative numbers to access elements from the string starting from the end. Negative indexing makes it easy to get items without needing to know the exact length of the string.


s = "abaracadabara"

# Characters from index -4 to the end

print(s[-4:])

# Characters from the start up to index -3 (excluding -3)

print(s[:-3])

# Characters from index -5 to -2 (excluding -2)
print(s[-5:-2])
# Get every 2nd elements from index -8 to -1 (excluding index -1)

print(s[-8:-1:2])

bara
abaracadab
aba
cdbr

In [ ]:
#Reverse a String Using Slicing

#To reverse a string, use a negative step value of -1, which moves from the end of the string to the beginning.

s = "Python"

# Reverse the string

print(s[::-1])

nohtyP

Q 2 . Explain the key features of list in Python .

A .In Python, a list is a built-in data structure that is used to store an ordered collection of items. Lists are mutable, meaning that their contents can be changed after the list has been created. They can hold a various of data types, including integers, floats, strings, and even other lists.

Let’s take a quick example for Python list:

In [ ]:
#Creating a List
#We can create a list in Python using square brackets [] or by using the list() constructor. Here are some common methods to create a list:Using Square Brackets We can directly create a list by enclosing elements in square brackets.


a = [1, 2, 3, 4, 5]


# List of strings

b = ['apple', 'banana', 'cherry']

# Mixed data types

c = [1, 'hello', 3.14, True]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [ ]:
#Using the list() Constructor

#We can also create a list by passing an iterable (like a string, tuple, or another list) to the list() function.

# From a tuple
a = list((1, 2, 3, 'apple', 4.5))

print(a)

[1, 2, 3, 'apple', 4.5]

In [ ]:
#Creating a List with Repeated Elements
#We can create a list with repeated elements using the multiplication operator.

# Create a list [2, 2, 2, 2, 2]

a = [2] * 5

# Create a list [0, 0, 0, 0, 0, 0, 0]

b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [ ]:
#Accessing List Elements
#Elements in a list can be accessed using indexing. Python indexes start at 0, so a[0] will access the first element, while negative indexing allows us to access elements from the end of the list. Like index -1 represents the last elements of list.

a = [10, 20, 30, 40, 50]

# Access first element

print(a[0])

# Access last element

print(a[-1])

10
50

In [ ]:
#Adding Elements into List
#We can add elements to a list using the following methods:

#append(): Adds an element at the end of the list.
#extend(): Adds multiple elements to the end of the list.
#insert(): Adds an element at a specific position.


# Initialize an empty list

a = []
# Adding 10 to end of list

a.append(10)

print("After append(10):", a)

# Inserting 5 at index 0

a.insert(0, 5)
print("After insert(0, 5):", a)

# Adding multiple elements  [15, 20, 25] at the end

a.extend([15, 20, 25])

print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

In [ ]:
#Updating Elements into List
#We can change the value of an element by accessing it using its index.


a = [10, 20, 30, 40, 50]

# Change the second element

a[1] = 25

print(a)

[10, 25, 30, 40, 50]

In [ ]:
#Removing Elements from List
#We can remove elements from a list using:

#remove(): Removes the first occurrence of an element.
#pop(): Removes the element at a specific index or the last element if no index is specified.
#del statement: Deletes an element at a specified index.


a = [10, 20, 30, 40, 50]

# Removes the first occurrence of 30

a.remove(30)

print("After remove(30):", a)

# Removes the element at index 1 (20)

popped_val = a.pop(1)

print("Popped element:", popped_val)

print("After pop(1):", a)

# Deletes the first element (10)

del a[0]

print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

In [ ]:
#Iterating Over Lists
#We can iterate the Lists easily by using a for loop or other iteration methods. Iterating over lists is useful when we want to do some operation on each item or access specific items based on certain conditions. Let’s take an example to iterate over the list using for loop. Using for Loop

a = ['apple', 'banana', 'cherry']

# Iterating over the list

for item in a:

    print(item)

apple
banana
cherry

Q 3. Describe how to accesss , modify and delete elements in a list with examples .

A . List items are indexed and you can access them by referring to the index number: . the first item will always have 0 as index number .

In [ ]:
#Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
#Negative Indexing
#Negative indexing means start from the end -1 refers to the last item, -2 refers to the second last item etc.

#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
#Range of Indexes
#You can specify a range of indexes by specifying where to start and where to end the range. When specifying a range, the return value will be a new list with the specified items.

#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#Change Item Value
#To change the value of a specific item, refer to the index number:

#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
#Change a Range of Item Values
#To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
#Insert Items
#To insert a new list item, without replacing any of the existing values, we can use the insert() method.

#The insert() method inserts an item at the specified index:

#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)


#Note: As a result of the example above, the list will now contain 4 items.

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
#Adding Elements into List
#We can add elements to a list using the following methods:

#append(): Adds an element at the end of the list.
#extend(): Adds multiple elements to the end of the list.
#insert(): Adds an element at a specific position.


# Initialize an empty list

a = []
# Adding 10 to end of list

a.append(10)

print("After append(10):", a)

# Inserting 5 at index 0

a.insert(0, 5)
print("After insert(0, 5):", a)

# Adding multiple elements  [15, 20, 25] at the end

a.extend([15, 20, 25])

print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

In [ ]:
#Removing Elements from List
#We can remove elements from a list using:

#remove(): Removes the first occurrence of an element.
#pop(): Removes the element at a specific index or the last element if no index is specified.
#del statement: Deletes an element at a specified index.


a = [10, 20, 30, 40, 50]

# Removes the first occurrence of 30

a.remove(30)

print("After remove(30):", a)

# Removes the element at index 1 (20)

popped_val = a.pop(1)

print("Popped element:", popped_val)

print("After pop(1):", a)

# Deletes the first element (10)

del a[0]

print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

Q 4 .Compare and contrast tuples and lists with examples .

A .
**Lists**


*   Lists are mutable
*   The implication of iterations is     Time-consuming.

*   The list is better for performing operations, such as insertion and deletion.
*  list consume more energy .

**Tuples**


*   The implication of iterations is comparatively Faster .

*   A Tuple data type is appropriate for accessing the elements.
*   Tuple consumes less memory as compared to the list .


*  Tuple does not have many built-in methods.

In [ ]:
#Python List vs Python Tuple

#Here we are going to compare the list and tuple mutability tests.


# Creating a List with

# the use of Numbers

# code to test that tuples are mutable

List = [1, 2, 4, 4, 3, 3, 3, 6, 5]

print("Original list ", List)

List[3] = 77

print("Example to show mutability ", List)

Original list  [1, 2, 4, 4, 3, 3, 3, 6, 5]
Example to show mutability  [1, 2, 4, 77, 3, 3, 3, 6, 5]

In [ ]:
#Mutable List vs. Immutable Tuples
#In Python, both lists and tuples support a range of operations, including indexing, slicing, concatenation, and more. However, there are some differences between the operations that are available for lists and tuples due to their mutability and immutability, respectively.

#Python Indexing

 #Both lists and tuples allow you to access individual elements using their index, starting from 0.


my_list = [1, 2, 3]

my_tuple = (4, 5, 6)

print(my_list[0]) # Output: 1
5
print(my_tuple[1]) # Output: 5

1
5

In [ ]:
#Python Concatenation

#Both lists and tuples can be concatenated using the “+” operator.

list1 = [1, 2, 3]
list2 = [4, 5, 6]

tuple1 = (7, 8, 9)
tuple2 = (10, 11, 12)

print(list1 + list2) # Output: [1, 2, 3, 4, 5, 6]
print(tuple1 + tuple2) # Output: (7, 8, 9, 10, 11, 12)

[1, 2, 3, 4, 5, 6]
(7, 8, 9, 10, 11, 12)

Q 5 . Describe the key features of sets and provide examples of their use .

A. A Set in Python programming is an unordered collection data type that is iterable and has no duplicate elements. While sets are mutable, meaning you can add or remove elements after their creation, the individual elements within the set must be immutable and cannot be changed directly.

In [ ]:
#example of sets in python

var = {"Geeks", "for", "Geeks"}
type(var)

set

In [ ]:
#Check unique and  Immutable with Python Set

# Python program to demonstrate that
# a set cannot have duplicate values
# and we cannot change its items

# a set cannot have duplicate values
myset = {"Geeks", "for", "Geeks"}
print(myset)

# values of a set cannot be changed
myset[1] = "Hello"
print(myset]



      #insight: The first code explains that the set cannot have a duplicate value. Every item in it is a unique value. The second code generates an error because we cannot assign or change a value once the set is created. We can only add or delete items in the set.

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (<ipython-input-3-fc4af43b9bdb>, line 13)

In [1]:
#Heterogeneous Element with Python Set
#Python sets can store heterogeneous elements in it, i.e., a set can store a mixture of string, integer, boolean, etc datatypes.

myset = {"Geeks", "for", 10, 52.7, True}

print(myset)

{'for', True, 52.7, 'Geeks', 10}

In [2]:
#Python Frozen Sets
#Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied. It can be done with frozenset() method in Python. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.


 #Python program to demonstrate differences between normal and frozen set

# Same as {"a", "b","c"}
normal_set = set(["a", "b","c"])

print("Normal Set")
print(normal_set)

# A frozen set
frozen_set = frozenset(["e", "f", "g"])

print("\nFrozen Set")
print(frozen_set)

# Uncommenting below line would cause error as we are trying to add element to a frozen set frozen_set.add("h")

Normal Set
{'c', 'a', 'b'}

Frozen Set
frozenset({'f', 'e', 'g'})

In [4]:
#adding element



list1= [1,2,3,4,5,"Brinjal" , "apple" , "apple" , "Brinjal"]
s= set(list1)
s

{1, 2, 3, 4, 5, 'Brinjal', 'apple'}

In [10]:
s.add(100)
s

{1, 100, 2, 3, 4, 5, 'Brinjal', 'apple'}

In [11]:
s.pop()

1

In [21]:
s.update("mango")
s

#output will not be a single character

{100, 2, 5, 'a', 'apple', 'g', 'm', 'n', 'o'}

In [24]:
s.update(["mango"])
s

#output is a single character

{100, 2, 5, 'a', 'apple', 'g', 'm', 'mango', 'n', 'o'}

In [25]:
#Union operation on Python Sets

#Two sets can be merged using union() function or | operator.
#Both Hash Table values are accessed and traversed with merge operation perform on them to combine the elements,
#at the same time duplicates are removed.

#Python Program to demonstrate union of two sets

people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

# Union using union()
# function
population = people.union(vampires)

print("Union using union() function")
print(population)

# Union using "|"
# operator
population = people|dracula

print("Union using '|' operator")
print(population)

Union using union() function
{'Karan', 'Idrish', 'Archil', 'Arjun', 'Jay'}

Union using '|' operator
{'Deepanshu', 'Idrish', 'Archil', 'Raju', 'Jay'}

In [26]:
#Intersection operation on Python Sets

#This can be done through intersection() or & operator.
#Common Elements are selected. They are similar to iteration over the Hash lists and combining the same values on both the Table.

# Python program to demonstrate intersection of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Intersection using
# intersection() function
set3 = set1.intersection(set2)

print("Intersection using intersection() function")
print(set3)

# Intersection using
# "&" operator
set3 = set1 & set2

print("Intersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [27]:
#Finding Differences of Sets in Python

#To find differences between sets. Similar to finding differences in the linked list.
#This is done through difference() or – operator.

# Python program to demonstrate difference of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Difference of two sets
# using difference() function
set3 = set1.difference(set2)

print("Difference of two sets using difference() function")
print(set3)

# Difference of two sets
# using '-' operator
set3 = set1 - set2

print("Difference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

Q 6: Use case of sets and tuples in python programming .

In [32]:
#Implementing All Functions in sets

#In this example, a series of functions demonstrate common operations on sets in Python.
#These include creating a set, adding and removing elements, clearing the set, performing set
#union, intersection, difference, symmetric difference, subset, and superset operations.


def create_set():

    my_set = {1, 2, 3, 4, 5}

    print(my_set)


def add_element():

    my_set = {1, 2, 3, 4, 5}

    my_set.add(6)

    print(my_set)



def remove_element():

    my_set = {1, 2, 3, 4, 5}

    my_set.remove(3)
    print(my_set)



def clear_set():
    my_set = {1, 2, 3, 4, 5}

    my_set.clear()

    print(my_set)



def set_union():

    set1 = {1, 2, 3}

    set2 = {4, 5, 6}
    my_set = set1.union(set2)

    print(my_set)


def set_intersection():

    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    my_set = set1.intersection(set2)

    print(my_set)

def set_difference():

    set1 = {1, 2, 3, 4, 5}

    set2 = {4, 5, 6, 7, 8}
    my_set = set1.difference(set2)

    print(my_set)



def set_symmetric_difference():

    set1 = {1, 2, 3, 4, 5}

    set2 = {4, 5, 6, 7, 8}

    my_set = set1.symmetric_difference(set2)

    print(my_set)



def set_subset():

    set1 = {1, 2, 3, 4, 5}
    set2 = {2, 3, 4}

    subset = set2.issubset(set1)
    print(subset)



def set_superset():

    set1 = {1, 2, 3, 4, 5}
    set2 = {2, 3, 4}

    superset = set1.issuperset(set2)
    print(superset)



if __name__ == '__main__':

    create_set()

    add_element()

    remove_element()

    clear_set()

    set_union()

    set_intersection()

    set_difference()

    set_symmetric_difference()

    set_subset()

    set_superset()

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5}
set()
{1, 2, 3, 4, 5, 6}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
True

In [39]:
#Python Program to Demonstrate use case of  Tuple.

# Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

# Creating a Tuple
# with the use of string
Tuple1 = ('Geeks', 'For')
print("Tuple with the use of String: ")
print(Tuple1)

# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("Tuple using List: ")
print(tuple(list1))

# Creating a Tuple
# with the use of built-in function
Tuple1 = tuple('Geeks')
print("Tuple with the use of function: ")
print(Tuple1)

## Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("Tuple with nested tuples: ")
print(Tuple3)

# Creating a Tuple
# with repetition
Tuple1 = ('Geeks',) * 3
print("Tuple with repetition: ")
print(Tuple1)

# Creating a Tuple
# with the use of loop
Tuple1 = ('Geeks')
n = 5
print("Tuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    print(Tuple1)


# Concatenation of tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Geeks', 'For', 'Geeks')

Tuple3 = Tuple1 + Tuple2

# Printing first Tuple
print("Tuple 1: ")
print(Tuple1)

# Printing Second Tuple
print("Tuple2: ")
print(Tuple2)

# Printing Final Tuple
print("\nTuples after Concatenation: ")
print(Tuple3)

Initial empty Tuple:
()
Tuple with the use of String:
('Geeks', 'For')
Tuple using List:
(1, 2, 4, 5, 6)
Tuple with the use of function:
('G', 'e', 'e', 'k', 's')
Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))
Tuple with repetition:
('Geeks', 'Geeks', 'Geeks')
Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)
Tuple 1:
(0, 1, 2, 3)
Tuple2:
('Geeks', 'For', 'Geeks')

Tuples after Concatenation:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

Q 7 : Add , modify and delete items in dictionary with examples .

A . A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

In [41]:
#creating a dictionary
d1 = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(d1)

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

In [42]:
#Adding Elements to a Dictionary
#The addition of elements can be done in multiple ways. One value at a time can be added to a Dictionary by defining value along with the key
#e.g. Dict[Key] = ‘Value’.

d = {}
print("Empty Dictionary: ")
print(d)

d[0] = 'Geeks'
d[2] = 'For'
d[3] = 1
print("\nDictionary after adding 3 elements: ")
print(d)

d['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(d)

d[2] = 'Welcome'
print("\nUpdated key value: ")
print(d)
d[5] = {'Nested': {'1': 'Life', '2': 'Geeks'}}
print("\nAdding a Nested Key: ")
print(d)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [43]:
#deleting element

d = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

print("Dictionary =")
print(d)
del(d[1])
print("Data after deletion Dictionary=")
print(d)

Dictionary =
{1: 'Geeks', 'name': 'For', 3: 'Geeks'}
Data after deletion Dictionary=
{'name': 'For', 3: 'Geeks'}

Q 8: Discuss the importance of dictionary keys being immutable and provide examples .

A. Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys. If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary.

In [47]:
#immutable dictionary
empid= {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(empid)


#poping an element

empid= {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
 empid.add(3)
print(empid)



#element cannot be changed or poped because its immutable

IndentationError: unexpected indent (<ipython-input-47-6542ef99b2c0>, line 11)